<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <div class="container-fluid">
        <a class="navbar-brand" href="">feonao</a>
        <button class="navbar-toggler @NavButtonCssClass" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-label="Toggle navigation" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse @NavBarCssClass" id="navbarCollapse" @onclick="ToggleNavMenu">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="oi oi-home" style="width: 15px" aria-hidden="true"></span> Home
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="music">
                        <span class="oi oi-media-play" style="width: 15px" aria-hidden="true"></span> Music
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="video">
                        <span class="oi oi-video" style="width: 15px" aria-hidden="true"></span> Video
                    </NavLink>
                </li>
            </ul>

            <!-- Icons -->
            <ul class="navbar-nav d-flex flex-row mb-2 mb-md-0">
                <li class="nav-item me-3 me-lg-0">
                    <NavLink class="nav-link" target="_blank" href="https://open.spotify.com/artist/5nXpxYt0ocMjvUEMuRdjAj">
                        <img class="img-invert" style="width: 25px" src="/icons/spotify.svg" alt="Spotify">
                    </NavLink>
                </li>
                <li class="nav-item me-3 me-lg-0">
                    <NavLink class="nav-link" target="_blank" href="https://music.apple.com/us/artist/feonao/1565029432?l">
                        <img class="img-invert" style="width: 25px" src="/icons/apple-music.svg" alt="YouTube">
                    </NavLink>
                </li>
                <li class="nav-item me-3 me-lg-0">
                    <NavLink class="nav-link" target="_blank" href="https://instagram.com/feonao">
                        <img class="img-invert" style="width: 25px" src="/icons/instagram.svg" alt="Instagram">
                    </NavLink>
                </li>
                <li class="nav-item me-3 me-lg-0">
                    <NavLink class="nav-link" target="_blank" href="https://soundcloud.com/feonao">
                        <img class="img-invert" style="width: 25px" src="/icons/soundcloud.svg" alt="Soundcloud">
                    </NavLink>
                </li>
                <li class="nav-item me-3 me-lg-0">
                    <NavLink class="nav-link" target="_blank" href="https://www.youtube.com/channel/UCskUYJPEXBYlscI4Msp4C9Q">
                        <img class="img-invert" style="width: 25px" src="/icons/youtube.svg" alt="YouTube">
                    </NavLink>
                </li>
            </ul>

            <ul class="navbar-nav mr-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <NavLink class="nav-link" href="about">
                        <span class="oi oi-question-mark" style="width: 15px" aria-hidden="true"></span> About
                    </NavLink>
                </li>
            </ul>
        </div>
    </div>
</nav>

@code {
    private bool collapseNavMenu = true;
    private string? NavBarCssClass => collapseNavMenu ? null : "show";
    private string? NavButtonCssClass => collapseNavMenu ? "collapsed" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
