@page "/about"

<PageTitle>feonao - About</PageTitle>

<div class="p-2 bg-dark">
    <div>
        <h1 class="text-center mt-2 mb-4 font-main text-light">About</h1>

        <p class="fs-5 m-2 font-main text-light">
            This website was developed by Maksim Potapov and it's based on
            <a class="text-secondary" href="https://dotnet.microsoft.com/en-us/apps/aspnet/web-apps/blazor" target="_blank">Blazor</a> framework
            using C#, .NET, SQLite, Entity Framework, HTML5, CSS and Bootstrap 5 (with a little touch of JavaScript).
        </p>
        <p class="fs-5 m-2 font-main text-light">
            It's hosted on Ubuntu Server 22.04 LTS using
            <a class="text-secondary" href="https://www.nginx.com/" target="_blank">Nginx</a> and certified by
            <a class="text-secondary" href="https://certbot.eff.org/" target="_blank">Certbot</a>.
        </p>
        <p class="fs-5 m-2 font-main text-light">
            Besides that, I have more than 4 years of commercial experience with C#, .NET, ASP.NET, WPF, PostgreSQL and other related technologies,
            so if you interested in me as a software developer, please check my <a class="text-secondary" href="/files/resume.pdf" target="_blank">résumé</a>.
        </p>
    </div>
        
    <div>
        <h1 class="text-center mt-4 mb-4 font-main text-light">Contacts</h1>

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-auto mt-2 mb-2">
                    <a href="https://www.linkedin.com/in/feonao/" target="_blank"><img class="img-invert" src="/icons/linkedin.svg" alt="LinkedIn"></a>
                </div>
                <div class="col-auto mt-2 mb-2">
                    <a href="mailto:feonaoh@gmail.com" target="_blank"><img class="img-invert" src="/icons/gmail.svg" alt="E-Mail"></a>
                </div>
                <div class="col-auto mt-2 mb-2">
                    <a href="https://github.com/feonao" target="_blank"><img class="img-invert" src="/icons/github.svg" alt="GitHub"></a>
                </div>
                <div class="col-auto mt-2 mb-2">
                    <a href="https://t.me/feonao" target="_blank"><img class="img-invert" src="/icons/telegram.svg" alt="Telegram"></a>
                </div>
            </div>
        </div>
    </div>
</div>

@code {

}
