@page "/home"
@page "/"

<PageTitle>feonao - Home</PageTitle>

<div class="row">
    <div class="column" style="background-color:#778899">
        <div class="divMain">
            <img src="/images/photo.jpg" class="fill" />
        </div>
    </div>
    <div class="column" style="background-color:#f5f5f5">
        <h1 class="h1article">Welcome!</h1>
        <br />
        <p class="pfill">My name is Maksim Potapov, but you could also know me under alias feonao.</p>
        <p class="pfill">I make modern chiptune music mostly using old hardware like Nintendo Game Boy and 
            software like LSDJ, Nanoloop, M8 etc. Visit <a href="/music">music</a> page to listen to my music or 
            <a href="/video">video</a> page to watch live shows and other video content.
        </p>
        <p class="pfill">This page is under active construction, so more interesting content will be available soon.</p>
        <p class="pfill">More content is availble on social media:</p>
        <p class="pfill">&emsp;• <a href="https://soundcloud.com/feonao" target="_blank">SoundCloud</a></p>
        <p class="pfill">&emsp;• <a href="https://instagram.com/feonao" target="_blank">Instagram</a></p>
        <p class="pfill">&emsp;• <a href="https://www.youtube.com/channel/UCskUYJPEXBYlscI4Msp4C9Q" target="_blank">Youtube</a></p>
        <p class="pfill">If you interested in me as a software developer, please check my <a href="/files/resume.pdf" target="_blank">résumé</a>.</p>
    </div>
</div>
<br />

<p class="copyright">Copyright ©@DateTime.Now.Year feonao. All rights reserved.</p>
