@page "/home"
@page "/"

<PageTitle>feonao - Home</PageTitle>
<div class="container">
    <div class="row">
        <div class="col-lg p-2 bg-dark">
            <div>
                <img src="/images/photo.jpg" class="w-100" />
            </div>
        </div>
        <div class="col-lg p-2 bg-dark">
            <h1 class="text-center mt-2 mb-4 font-main text-light">Welcome!</h1>
            <p class="fs-5 m-2 font-main text-light">My name is Maksim Potapov, but you could also know me under alias feonao.</p>
            <p class="fs-5 m-2 font-main text-light">
                I make modern chiptune music mostly using old hardware like Nintendo Game Boy and
                software like LSDJ, Nanoloop, M8 etc.</p>
            <p class="fs-5 m-2 font-main text-light">
                Visit <a class="text-secondary" href="/music">music</a> page to listen to my music or
                <a class="text-secondary" href="/video">video</a> page to watch live shows and other video content.</p>
            <p class="fs-5 m-2 font-main text-light">This page is under active construction, so more interesting content will be available soon.</p>
            <p class="fs-5 m-2 font-main text-light">More content is availble on social media:</p>

            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-auto mt-2 mb-2">
                        <a href="https://open.spotify.com/artist/5nXpxYt0ocMjvUEMuRdjAj" target="_blank"><img class="img-invert" src="/icons/spotify.svg" alt="Spotify"></a>
                    </div>
                    <div class="col-auto mt-2 mb-2">
                        <a href="https://music.apple.com/us/artist/feonao/1565029432?l" target="_blank"><img class="img-invert" src="/icons/apple-music.svg" alt="YouTube"></a>
                    </div>
                    <div class="col-auto mt-2 mb-2">
                        <a href="https://instagram.com/feonao" target="_blank"><img class="img-invert" src="/icons/instagram.svg" alt="Instagram"></a>
                    </div>
                    <div class="col-auto mt-2 mb-2">
                        <a href="https://soundcloud.com/feonao" target="_blank"><img class="img-invert" src="/icons/soundcloud.svg" alt="Soundcloud"></a>
                    </div>
                    <div class="col-auto mt-2 mb-2">
                        <a href="https://www.youtube.com/channel/UCskUYJPEXBYlscI4Msp4C9Q" target="_blank"><img class="img-invert" src="/icons/youtube.svg" alt="YouTube"></a>
                    </div>
                </div>
            </div>

            <p class="fs-5 m-2 font-main text-light">More detailed info about this website and contacts are available on <a class="text-secondary" href="/about">about</a> page.</p>
        </div>
    </div>
</div>

<p class="fs-6 mt-3 text-center text-muted">Copyright ©@DateTime.Now.Year feonao. All rights reserved.</p>
