@page "/home"
@page "/"

<PageTitle>feonao - Home</PageTitle>
<div class="container">
    <div class="row">
        <div class="col-lg p-2" style="background-color:#778899">
            <div>
                <img src="/images/photo.jpg" class="w-100" />
            </div>
        </div>
        <div class="col-lg p-2" style="background-color:#f5f5f5">
            <h1 class="text-center mt-2 mb-5 font-tahoma">Welcome!</h1>
            <p class="fs-5 m-2 font-tahoma">My name is Maksim Potapov, but you could also know me under alias feonao.</p>
            <p class="fs-5 m-2">
                I make modern chiptune music mostly using old hardware like Nintendo Game Boy and
                software like LSDJ, Nanoloop, M8 etc.</p>
            <p class="fs-5 m-2 font-tahoma">
                Visit <a href="/music">music</a> page to listen to my music or
                <a href="/video">video</a> page to watch live shows and other video content.</p>
            <p class="fs-5 m-2 font-tahoma">This page is under active construction, so more interesting content will be available soon.</p>
            <p class="fs-5 m-2 font-tahoma">More content is availble on social media:</p>
            <p class="fs-5 m-2 font-tahoma">&emsp;• <a href="https://soundcloud.com/feonao" target="_blank">SoundCloud</a></p>
            <p class="fs-5 m-2 font-tahoma">&emsp;• <a href="https://instagram.com/feonao" target="_blank">Instagram</a></p>
            <p class="fs-5 m-2 font-tahoma">&emsp;• <a href="https://www.youtube.com/channel/UCskUYJPEXBYlscI4Msp4C9Q" target="_blank">Youtube</a></p>
            <p class="fs-5 m-2 font-tahoma">If you interested in me as a software developer, please check my <a href="/files/resume.pdf" target="_blank">résumé</a>.</p>
        </div>
    </div>
</div>

<p class="fs-6 mt-3 text-center">Copyright ©@DateTime.Now.Year feonao. All rights reserved.</p>
