@page "/video"

<h2>Two Equal Columns</h2>

<div class="center">
    <h1>Videos</h1>

    <iframe src="https://www.youtube.com/embed/Obd9t-EajQU?si=HL927j5vCIiHlLae" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

@code {

}
